.Header {
  background-color: #D4418E;
  height: 150px;
  padding: 55px;
  color: cornsilk;
}

.Footer {
  background-color: #D4418E;
  height: 50px;
  padding: 15px;
  color: white;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.btn-info {
  background-color: #7F5A83 !important;
  border-color: white important!
}

 a, a:hover, a:focus, a:active {
      text-decoration: none !important;
      color: white !important;
 }