.App {
  text-align: center;
}

.Header {
  background-color: #D4418E;
  height: 130px;
  color: white;
}

.Footer {
  background-color: #D4418E;
  height: 50px;
  padding: 15px;
  color: white;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.btn-info {
  background-color: #7F5A83 !important;
  border-color: white !important;
}

 a, a:hover, a:focus, a:active {
      text-decoration: none !important;
      color: white !important;
 }

 .content {
    padding-top:8%;
 }

img {
 width: 130px !important;
 }